doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title html
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.3.1/css/all.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.js')
    style.
      :root {
      --main-bg-color:#eeeeee;
      }
      body {
      box-sizing: border-box;
      font-family: 'Proxima Nova', sans-serif;
      }
      .brandfamilymatrix td {
      border-left: 1px solid var(--main-bg-color);
      border-right: 1px solid var(--main-bg-color);
      text-align: center;
      vertical-align: top;
      }
      .brandfamilymatrix table tr:first-child td {
      border-top: 1px solid var(--main-bg-color);
      }
      .brandfamilymatrix table tr:last-child td {
      border-bottom: 1px solid var(--main-bg-color);
      }
      .brandfamilymatrix table tr td:first-child{
      padding-bottom: 15px;
      border: none;
      background: none;
      text-align: left;
      }
      .brandfamilymatrix .segment-direction {
      background-color: var(--main-bg-color);
      font-weight: 700;
      margin: 5px;
      }
      .brandfamilymatrix .flightid {
      color: blue;
      }
      .brandfamilymatrix .brand {
      font-family: sans-serif;
      font-weight: 900;
      font-size: 15px;
      }
      .brandfamilymatrix hr {
      margin-top: 10px;
      margin-bottom: 10px;
      width: 90%;
      }
      .brandfamilymatrix a {
      text-decoration: underline
      }
  body
  -var segments = [{"from":"AUS","to":"FRA", "carry":"1x4kg","checked":"2x2kg"},{"from":"FRA","to":"UEM","carry":"2x8kg","checked":"2x5kg"}];
    .container
      .brandfamilymatrix
        table
          tbody
            tr
              td(width='234px')
                span
              each seg in segments
                  td(width='202px')
                    .segment-direction #{seg.from}→#{seg.to}
            tr
              td
              each seg in segments
                  td
                    img(src='logo.png', alt='')
            tr
              td
              each seg in segments
                  td
                    | Eithhad Airways
                    br
                    span.flightid EY3539
                    hr
            tr
              td
              each seg in segments
                  td
                    span.brand Economy Saver
                    hr
            tr
              td
                icon ⁂
                |  Carry on baggage
              each seg in segments    
                td=seg.carry
            tr
              td
                icon ⚖
                |  Checked baggage
              each seg in segments    
                td=seg.checked
            tr
              td
                icon ⚝
                |  Seat Assignment
              each seg in segments
                td $
            tr
              td
                icon ⚖
                |  Refundable
              each seg in segments
                td ✓
            tr
              td
                icon ☎
                |  Changes
              each seg in segments
                td ✓
            tr
              td
                icon ⁂
                |  WiFi
              each seg in segments
                td $
            tr
              td
                icon ⚝
                |  Meals
              each seg in segments
                td ✓
          
            tr
              td
              each seg in segments
                  td
                    hr
                    a(href='#') Fare rules
                    br
